/* TODO: design your profile with CSS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f7f7f8;
}

h1, h2 {
	font-family: 'Poppins', sans-serif;
	color: #4dc9b6;
}

img {
	border-radius: 50%;
}

a { /* inline element */
	text-decoration: none;
	color: #df0099;
	transition: 0.3s;
	/*font-weight: */
}

a:hover {
	color: green;
}

.btn {
	padding: 16px 34px;
	background-color: #df0099;
	color: white;
	margin-top: 30px;
	display: inline-block;
}

.btn:hover {
	background-color: purple;
	color: white;
}

ul li {
	display: inline-block;
	margin: 0 10px;
}

.fab {
	font-size: 24px;
}

ul {
	list-style: none; /* removes bulletpoints from the list */
	padding-left: 0;
}

.card {
	background: white;                         /* White background */
	padding: 30px;                             /* Internal space */
	border-radius: 4px;                        /* Small radius */
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	width: 600px;
	/* margin: 0;  margin all around the box */ 
	/* margin: 0 auto;  2 values - first one is top and bottom; second one is left and right */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}

#header {
	background-color: yellow;
}

#header p {
	/*color: red;*/
}
















